
  
       .img-responsive{
            margin-left:auto;
            margin-right:auto;
            margin-top:30px;
            width: 200px; /*set the width or max-width*/
            height: 218px;
         }
       .DetialImage
       {
           width:200px;
           height:218px;
       }
      /*.col-md-3{
          display:inline;
          margin-left:auto;
            margin-right:auto;*/
          
      /*}*/
      .afterimage
      {
          margin-bottom:30px;
         
      }
      .thumb{
          margin-bottom:30px;

      }
     .col-xs-6{
          width:initial;
         
      }
    .thumbnail > img {
    width: 200px; /*set the width or max-width*/
    height: 218px; /*this makes sure to maintain the aspect ratio*/
}

form .stars {
  background: url("/Content/images/stars.png") repeat-x 0 0;
  width: 150px;
  margin: 0 auto;
}
 
form .stars input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
form .stars input[type="radio"].star-5:checked ~ span {
  width: 100%;
}
form .stars input[type="radio"].star-4:checked ~ span {
  width: 80%;
}
form .stars input[type="radio"].star-3:checked ~ span {
  width: 60%;
}
form .stars input[type="radio"].star-2:checked ~ span {
  width: 40%;
}
form .stars input[type="radio"].star-1:checked ~ span {
  width: 20%;
}
form .stars label {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0!important;
  padding: 0!important;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent!important;
  cursor: pointer;
}
form .stars label:hover ~ span {
  background-position: 0 -30px;
}
form .stars label.star-5:hover ~ span {
  width: 100% !important;
}
form .stars label.star-4:hover ~ span {
  width: 80% !important;
}
form .stars label.star-3:hover ~ span {
  width: 60% !important;
}
form .stars label.star-2:hover ~ span {
  width: 40% !important;
}
form .stars label.star-1:hover ~ span {
  width: 20% !important;
}
form .stars span {
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  background: url("/Content/images/stars.png") repeat-x 0 -60px;
  -webkit-transition: -webkit-width 0.5s;
  -moz-transition: -moz-width 0.5s;
  -ms-transition: -ms-width 0.5s;
  -o-transition: -o-width 0.5s;
  transition: width 0.5s;
}
.star { display: inline-block; width: 22px; height: 21px; background-image: url("/Content/images/star2.png"); }
.star-2 { display: inline-block; width: 45px; height: 21px; background-image: url("/Content/images/star2.png"); }
.star-3 { display: inline-block; width: 67px; height: 21px; background-image: url("/Content/images/star2.png"); }
.star-4 { display: inline-block; width: 90px; height: 21px; background-image: url("/Content/images/star2.png"); }
.stars-5 { display: inline-block; width: 110px; height: 21px; background-image: url("/Content/images/star2.png"); }
    
                              

